<section class="content">
    <%if(infoSubmitObj!=""){%>
        <div class="alert">
            <p><%= infoSubmitObj%></p>
        </div>
    <%}%>
    <%if(infoErrorsObj!=""){%>
        <div class="alert1">
            <p><%= infoErrorsObj%></p>
        </div>
    <%}%>
   <div class="first-dis">
    <h3>Gramen E-waybill System</h3>
    <button id="open">Click to Login To WayBill System</button>
   </div>
   
   <div class="login-dis">
        <form action="/login" method="POST" >
            <label for="username">Username</label>
            <input type="text" placeholder="Enter Username" name="username">
            <label for="role">Role</label>
            <select name="role" id=" check" >
                <option value="select">Select</option>
                <option value="Admin">Admin</option>
                <option value="Approver">Approver</option>
                <option value="User">User</option>

            </select>
            <label for="password">Password</label>
            <input type="password" name="password" id="" placeholder="******">
            <div class="login-sub">
                <button type="submit">Login</button>
                <button class="cancel">Cancel</button>
            </div>
        </form>    
   </div>
</section>